<h1 class="animated fadeIn fast">Sobre Heroes</h1>
<hr>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, sequi error esse non facere quo, atque, delectus dignissimos et numquam libero iste necessitatibus nihil voluptates beatae. Explicabo, commodi error distinctio.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repellat iure praesentium iste qui sit atque, quibusdam deserunt illum illo labore, modi voluptates recusandae sunt itaque sapiente laborum officia tenetur.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint iste, aut quasi debitis quis voluptatibus, necessitatibus hic error et vero sed, repellat, nam tempore harum velit magnam. Porro, quas nam.
</p>
